<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/navbar"); %>

    <div class="container mt-5 text-center">
      <h1 class="heading"><%= heading %></h1>
      <h4 class="my-2 subtext">Renouncing unnecessary setup since 2020.</h4>
      <a class="github-link" href="<%= githubLink %>" target="_blank">
        <i class="my-5 fab fa-github"></i>
      </a>
    </div>

    <%- include("../partials/scripts"); %>
  </body>
</html>
